# Using pandas!

In [1]:
import pandas as pd

In [2]:
metadata = pd.read_csv("https://raw.githubusercontent.com/datacarpentry/R-genomics/gh-pages/data/Ecoli_metadata.csv")

In [3]:
metadata

      sample  generation    clade  strain      cit        run  genome_size
0     REL606           0      NaN  REL606  unknown        NaN         4.62
1   REL1166A        2000  unknown  REL606  unknown  SRR098028         4.63
2     ZDB409        5000  unknown  REL606  unknown  SRR098281         4.60
3     ZDB429       10000       UC  REL606  unknown  SRR098282         4.59
4     ZDB446       15000       UC  REL606  unknown  SRR098283         4.66
5     ZDB458       20000  (C1,C2)  REL606  unknown  SRR098284         4.63
6    ZDB464*       20000  (C1,C2)  REL606  unknown  SRR098285         4.62
7     ZDB467       20000  (C1,C2)  REL606  unknown  SRR098286         4.61
8     ZDB477       25000       C1  REL606  unknown  SRR098287         4.65
9     ZDB483       25000       C3  REL606  unknown  SRR098288         4.59
10     ZDB16       30000       C1  REL606  unknown  SRR098031         4.61
11    ZDB357       30000       C2  REL606  unknown  SRR098280         4.62
12   ZDB199*       31500       C1  REL606    minus  SRR098044         4.62
13    ZDB200       31500       C2  REL606    minus  SRR098279         4.63
14    ZDB564       31500     Cit+  REL606     plus  SRR098289         4.74
15    ZDB30*       32000       C3  REL606    minus  SRR098032         4.61
16    ZDB172       32000     Cit+  REL606     plus  SRR098042         4.77
17    ZDB158       32500       C2  REL606    minus  SRR098041         4.63
18    ZDB143       32500     Cit+  REL606     plus  SRR098040         4.79
19    CZB199       33000       C1  REL606    minus  SRR098027         4.59
20    CZB152       33000     Cit+  REL606     plus  SRR097977         4.80
21    CZB154       33000     Cit+  REL606     plus  SRR098026         4.76
22     ZDB83       34000     Cit+  REL606    minus  SRR098034         4.60
23     ZDB87       34000       C2  REL606     plus  SRR098035         4.75
24     ZDB96       36000     Cit+  REL606     plus  SRR098036         4.74
25     ZDB99       36000       C1  REL606    minus  SRR098037         4.61
26    ZDB107       38000     Cit+  REL606     plus  SRR098038         4.79
27    ZDB111       38000       C2  REL606    minus  SRR098039         4.62
28  REL10979       40000     Cit+  REL606     plus  SRR098029         4.78
29  REL10988       40000       C2  REL606    minus  SRR098030         4.62

In [4]:
metadata.head()

     sample  generation    clade  strain      cit        run  genome_size
0    REL606           0      NaN  REL606  unknown        NaN         4.62
1  REL1166A        2000  unknown  REL606  unknown  SRR098028         4.63
2    ZDB409        5000  unknown  REL606  unknown  SRR098281         4.60
3    ZDB429       10000       UC  REL606  unknown  SRR098282         4.59
4    ZDB446       15000       UC  REL606  unknown  SRR098283         4.66

In [5]:
metadata.tail(2)

      sample  generation clade  strain    cit        run  genome_size
28  REL10979       40000  Cit+  REL606   plus  SRR098029         4.78
29  REL10988       40000    C2  REL606  minus  SRR098030         4.62

In [6]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
sample         30 non-null object
generation     30 non-null int64
clade          29 non-null object
strain         30 non-null object
cit            30 non-null object
run            29 non-null object
genome_size    30 non-null float64
dtypes: float64(1), int64(1), object(5)
memory usage: 1.7+ KB

In [7]:
metadata['genome_size'].head()

0    4.62
1    4.63
2    4.60
3    4.59
4    4.66
Name: genome_size, dtype: float64

In [8]:
metadata.iloc[0,0]

'REL606'

In [9]:
metadata.loc[0,'strain']

'REL606'

In [10]:
metadata.loc[:,'strain']

0     REL606
1     REL606
2     REL606
3     REL606
4     REL606
5     REL606
6     REL606
7     REL606
8     REL606
9     REL606
10    REL606
11    REL606
12    REL606
13    REL606
14    REL606
15    REL606
16    REL606
17    REL606
18    REL606
19    REL606
20    REL606
21    REL606
22    REL606
23    REL606
24    REL606
25    REL606
26    REL606
27    REL606
28    REL606
29    REL606
Name: strain, dtype: object

In [12]:
metadata['genome_size'].median()

4.625

In [13]:
metadata['genome_size'].max()

4.8

In [16]:
metadata['genome_size'].describe()

count    30.000000
mean      4.662667
std       0.073294
min       4.590000
25%       4.610000
50%       4.625000
75%       4.740000
max       4.800000
Name: genome_size, dtype: float64

In [19]:
metadata['genome_size'].max().round(2)

4.8

In [20]:
big_genomes = metadata['genome_size'] > metadata['genome_size'].median()

In [21]:
metadata[big_genomes]

      sample  generation    clade  strain      cit        run  genome_size
1   REL1166A        2000  unknown  REL606  unknown  SRR098028         4.63
4     ZDB446       15000       UC  REL606  unknown  SRR098283         4.66
5     ZDB458       20000  (C1,C2)  REL606  unknown  SRR098284         4.63
8     ZDB477       25000       C1  REL606  unknown  SRR098287         4.65
13    ZDB200       31500       C2  REL606    minus  SRR098279         4.63
14    ZDB564       31500     Cit+  REL606     plus  SRR098289         4.74
16    ZDB172       32000     Cit+  REL606     plus  SRR098042         4.77
17    ZDB158       32500       C2  REL606    minus  SRR098041         4.63
18    ZDB143       32500     Cit+  REL606     plus  SRR098040         4.79
20    CZB152       33000     Cit+  REL606     plus  SRR097977         4.80
21    CZB154       33000     Cit+  REL606     plus  SRR098026         4.76
23     ZDB87       34000       C2  REL606     plus  SRR098035         4.75
24     ZDB96       36000     Cit+  REL606     plus  SRR098036         4.74
26    ZDB107       38000     Cit+  REL606     plus  SRR098038         4.79
28  REL10979       40000     Cit+  REL606     plus  SRR098029         4.78

In [22]:
print(big_genomes)

0     False
1      True
2     False
3     False
4      True
5      True
6     False
7     False
8      True
9     False
10    False
11    False
12    False
13     True
14     True
15    False
16     True
17     True
18     True
19    False
20     True
21     True
22    False
23     True
24     True
25    False
26     True
27    False
28     True
29    False
Name: genome_size, dtype: bool

In [26]:
c2_clades = metadata['clade'] == 'C2'
metadata[c2_clades]

      sample  generation clade  strain      cit        run  genome_size
11    ZDB357       30000    C2  REL606  unknown  SRR098280         4.62
13    ZDB200       31500    C2  REL606    minus  SRR098279         4.63
17    ZDB158       32500    C2  REL606    minus  SRR098041         4.63
23     ZDB87       34000    C2  REL606     plus  SRR098035         4.75
27    ZDB111       38000    C2  REL606    minus  SRR098039         4.62
29  REL10988       40000    C2  REL606    minus  SRR098030         4.62

In [27]:
metadata[c2_clades & big_genomes]

    sample  generation clade  strain    cit        run  genome_size
13  ZDB200       31500    C2  REL606  minus  SRR098279         4.63
17  ZDB158       32500    C2  REL606  minus  SRR098041         4.63
23   ZDB87       34000    C2  REL606   plus  SRR098035         4.75

In [28]:
metadata['cit'].value_counts()

unknown    12
minus       9
plus        9
Name: cit, dtype: int64

In [29]:
big_genome_df = metadata[big_genomes]

In [30]:
big_genome_df.to_csv('big_genomes.csv')

In [32]:
metadata.groupby('cit')['genome_size'].median()

cit
minus      4.62
plus       4.77
unknown    4.62
Name: genome_size, dtype: float64

In [34]:
metadata['cit_symbol'] = metadata['cit'].replace({'minus':'-',
                                                 'plus':'+',
                                                 'unknown':'?'})
metadata.head()

,sample,generation,clade,strain,cit,run,genome_size,cit_symbol
0,REL606,0,NaN,REL606,unknown,NaN,4.62,?
1,REL1166A,2000,unknown,REL606,unknown,SRR098028,4.63,?
2,ZDB409,5000,unknown,REL606,unknown,SRR098281,4.60,?
3,ZDB429,10000,UC,REL606,unknown,SRR098282,4.59,?
4,ZDB446,15000,UC,REL606,unknown,SRR098283,4.66,?

*Note* I'm sorting the genome_size column here. Don't change it!

In [35]:
metadata.sort_values('genome_size', ascending=True)

,sample,generation,clade,strain,cit,run,genome_size,cit_symbol
3,ZDB429,10000,UC,REL606,unknown,SRR098282,4.59,?
19,CZB199,33000,C1,REL606,minus,SRR098027,4.59,-
9,ZDB483,25000,C3,REL606,unknown,SRR098288,4.59,?
2,ZDB409,5000,unknown,REL606,unknown,SRR098281,4.60,?
22,ZDB83,34000,Cit+,REL606,minus,SRR098034,4.60,-
25,ZDB99,36000,C1,REL606,minus,SRR098037,4.61,-
7,ZDB467,20000,"(C1,C2)",REL606,unknown,SRR098286,4.61,?
15,ZDB30*,32000,C3,REL606,minus,SRR098032,4.61,-
10,ZDB16,30000,C1,REL606,unknown,SRR098031,4.61,?
0,REL606,0,NaN,REL606,unknown,NaN,4.62,?
27,ZDB111,38000,C2,REL606,minus,SRR098039,4.62,-
12,ZDB199*,31500,C1,REL606,minus,SRR098044,4.62,-
29,REL10988,40000,C2,REL606,minus,SRR098030,4.62,-
6,ZDB464*,20000,"(C1,C2)",REL606,unknown,SRR098285,4.62,?
11,ZDB357,30000,C2,REL606,unknown,SRR098280,4.62,?
13,ZDB200,31500,C2,REL606,minus,SRR098279,4.63,-
1,REL1166A,2000,unknown,REL606,unknown,SRR098028,4.63,?
17,ZDB158,32500,C2,REL606,minus,SRR098041,4.63,-
5,ZDB458,20000,"(C1,C2)",REL606,unknown,SRR098284,4.63,?
8,ZDB477,25000,C1,REL606,unknown,SRR098287,4.65,?
4,ZDB446,15000,UC,REL606,unknown,SRR098283,4.66,?
24,ZDB96,36000,Cit+,REL606,plus,SRR098036,4.74,+
14,ZDB564,31500,Cit+,REL606,plus,SRR098289,4.74,+
23,ZDB87,34000,C2,REL606,plus,SRR098035,4.75,+
21,CZB154,33000,Cit+,REL606,plus,SRR098026,4.76,+
16,ZDB172,32000,Cit+,REL606,plus,SRR098042,4.77,+
28,REL10979,40000,Cit+,REL606,plus,SRR098029,4.78,+
18,ZDB143,32500,Cit+,REL606,plus,SRR098040,4.79,+
26,ZDB107,38000,Cit+,REL606,plus,SRR098038,4.79,+
20,CZB152,33000,Cit+,REL606,plus,SRR097977,4.80,+

In [36]:
metadata['genome_size'].astype(int)

0     4
1     4
2     4
3     4
4     4
5     4
6     4
7     4
8     4
9     4
10    4
11    4
12    4
13    4
14    4
15    4
16    4
17    4
18    4
19    4
20    4
21    4
22    4
23    4
24    4
25    4
26    4
27    4
28    4
29    4
Name: genome_size, dtype: int64